:root{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    --col-primary: #2d2c32;
    --col-secondary: #f85b38;
    --col-third: #f8f8ee;
    --col-fourth: #a6bf2f;
}
body{
    color: var(--col-third);
    background-color:var(--col-primary);
    margin: 0;
    padding: 0;
}
main{
    margin-left: 3rem;
    margin-right: 2rem;
    padding: 2rem; 
    padding-bottom: .5rem;
}

/*------------------------------------------------------------------------------
*/
/* scrollbar */
/*
*/
body::-webkit-scrollbar{
    width: 0.1rem;
}
body::-webkit-scrollbar-thumb{
    background: var(--col-secondary);
}
body::-webkit-scrollbar-track{
    background: var(--col-primary);
}

/*------------------------------------------------------------------------------
*/
/* navbar */
/*
*/
.navbar{
    position: fixed;
    background-color: var(--col-secondary) ;
    transition: width 300ms ease;
}
.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item
{
    width: 100%;
}
.nav-item:last-child{
    margin-top: none;
}
.nav-link{
    display: flex;
    align-items: center;
    height: 2rem;
    color: var(--col-third);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.75);
    transition: 300ms ease;
}
.nav-link:hover
{
    filter: grayscale(0%) opacity(1) brightness(200%);
    background: var(--col-primary);
}
.link-text
{
    display: none;
}

.gg-home, .gg-info, .gg-games, .gg-headset, .gg-image{
    color:var(--col-third);
    margin-left: 1rem;
}

/*------------------------------------------------------------------------------
*/
/* small screens */
/*
*/
@media only screen and (max-width: 600px){
    .navbar{
        bottom: 0;
        width: 100%;
        height: 2rem;
    }
    .navbar-nav{
        flex-direction: row;
    }
    .nav-link{
        justify-content: center;
    }
    .gg-home, .gg-info, .gg-games, .gg-headset, .gg-image{
        margin-left: 0%;
    }
}

/*------------------------------------------------------------------------------
*/
/* big screens */
/*
*/
@media only screen and (min-width: 600px){
    .navbar{
        top: 0;
        width: 3rem; 
        height: 100vh;
    }
    .navbar:hover{
        width: 8rem;
    }
    .navbar:hover .link-text{
        display: inline;
        padding-left: .5rem;
    }
    .nav-item:first-child{
        margin-top: 3rem;
    }
}


.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('Games/PixelRace/TemplateData/progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('Games/PixelRace/TemplateData/progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('Games/PixelRace/TemplateData/progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('Games/PixelRace/TemplateData/progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('Games/PixelRace/TemplateData/progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('Games/PixelRace/TemplateData/progressFull.Dark.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.webgl-content .footer .webgl-logo {background-image: url('Games/PixelRace/TemplateData/webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('Games/PixelRace/TemplateData/fullscreen.png'); width: 38px; float: right;}
/*------------------------------------------------------------------------------
*/
/* game cards */
/*
*/
.card{
    display: grid;
    grid-template-columns: 15rem;
    grid-template-rows: 10rem 10rem 3rem;
    grid-template-areas: "image" "text" "stats";
    font-family: 'Lato', sans-serif;
    border-radius: 1rem;
    background: #f85b38;
    box-shadow: 0.5rem 0.7rem 2rem rgb(0, 0, 0);
    text-align: center;
    width: 15rem;
    margin: 1rem;
    transform: scale(0.8);
    float:left; 
}
.card:hover{
    transform: scale(1);
    transition: 300ms ease;
    cursor: pointer;
}

.card-image{
    grid-area: image;
    background: url(Images/testimage.PNG);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-size: 100% 100%;
}
.card-text{
    grid-area: text;
    margin: 25px;
}
.card-text .date{
    color: var(--col-third);
    font-size: 13px;
}
.card-text p{
    color: var(--col-third);
    font-size: 15px;
    font-weight: 300;
}
.card-text h2{
    margin-top: 0px;
    font-size: 28px;
}
.card-stats{
    grid-area: stats;
}